{
  "presets": [
    [
      "next/babel"
    ]
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "alias": {
          "@components": "./components",
          "@public": "./public",
          "@utils": "./utils"
        }
      }
    ],
    [
      "import",
      {
        "libraryName": "antd",
        "style": "css"
      }
    ],
    "inline-react-svg"
  ],
  "env": {
    "test": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "modules": false
          }
        ],
        "next/babel"
      ]
    }
  }
}