.ant-menu {
	display: flex;
	justify-content: space-between;
	// position: relative;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 9999;
	background: transparent;
	font-family: 'Niconne', cursive;
	font-size: 18px;
	background-color: #fff;
}

.ant-menu a:hover {
	color: #bea294 !important;
}

.navBar {

	h1,
	.ant-typography {
		color: white;
	}

	button {
		margin-top: 2rem;
	}
}

.ant-menu-horizontal {
	border-bottom: none;
}

//Banner
.Banner {
	background-color: #ffffff;
	position: relative;
	color: #ffff;
	height: 100vh;
	background-image: url('/images/luna-hero.png');
	// height: 2000px;
	background-repeat: no-repeat;
	background-size: center;
	background-position: center;
	background-attachment: fixed;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: self-start;
	padding-left: 3rem;
}

//About Section
.about-img img {
	width: 90%;
	// box-shadow: 5px 5px;
	display: block;
	margin-right: auto;
	margin-left: auto;
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
}