.ant-menu {
  display: flex;
  justify-content: space-between;
  // position: relative;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  background: transparent;
  font-family: 'Niconne', cursive;
  font-size: 18px;
  background-color: #fff;

}

.ant-menu a:hover {
  color: #BEA294 !important;
}

.navBar {

  h1,
  .ant-typography {
    color: white;
  }

  button {
    margin-top: 2rem;
  }
}

.ant-menu-horizontal {
  border-bottom: none;
}

//Banner 
.Banner {
  background-color: #FFFFFF;
  position: relative;
  color: #ffff;
  height: 100vh;
  background-image: url('/images/luna-orange.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 40%;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: self-start;
  padding-left: 3rem;

}